<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<level value="All"/>
			<appender-ref ref="AdoNetAppender_Oracle"/>
			<appender-ref ref="file"/>

		</root>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="log\app.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>

		<!--
		<appender name="DatabaseAppender" type="log4net.Appender.AdoNetAppender">
			<connectionString value="Data Source=HR;User Id=HRL;Password=HR;Max Pool Size=30" />
			<connectionType value="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=2.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
			<commandText value="INSERT INTO HRPORTAL.LOG_WEB (DATA,SESSIONE,ENTITA,DESCRIZIONE,DETTAGLIO,MODULO) VALUES (:data, :sessione,:entita,:descrizione, :dettaglio,:modulo)" />
			<bufferSize value="1" />
			<parameter>
				<parameterName value=":data" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value=":sessione" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{sessione}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":entita" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{entita}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":descrizione" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{descrizione}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":dettaglio" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{dettaglio}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":modulo" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{modulo}" />
				</layout>
			</parameter>
		</appender>
		-->
	</log4net>
</configuration>